.balloon {
    width:104px;
  height:140px; 
  background: red;
  border-radius:0;
  border-radius:80% 80% 80% 80%;
-webkit-animation: balloon 4s ease 1s infinite;
  margin: 0 auto;
  position: absolute;
  padding:10px;
top:0;
right:0;
  -webkit-transform-origin: bottom center; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes balloon {
    0%   {-webkit-transform: rotate(-9deg);top:2px;}
    5%  {-webkit-transform: rotate(-7deg);top:4px;}
    10%  {-webkit-transform: rotate(-5deg);top:6px;}
    15%  {-webkit-transform: rotate(-3deg);top:8px;}
    20% {-webkit-transform: rotate(-1deg);top:10;px}
    25%   {-webkit-transform: rotate(0deg);top:12px;}
    30%  {-webkit-transform: rotate(1deg);top:14px;}
    35%  {-webkit-transform: rotate(3deg);top:16px;}
    40%  {-webkit-transform: rotate(5deg);top:18px;}
    45% {-webkit-transform: rotate(7deg);top:20px;}
    50%   {-webkit-transform: rotate(9deg);top:19px;}
    55%  {-webkit-transform: rotate(8deg);top:18px;}
    60%  {-webkit-transform: rotate(7deg);top:16px;}
    65%  {-webkit-transform: rotate(5deg);top:14px;}
    70% {-webkit-transform: rotate(3deg);top:12px;}
    75%   {-webkit-transform: rotate(1deg);top:10px;}
    80%  {-webkit-transform: rotate(-1deg);top:8px;}
    85%  {-webkit-transform: rotate(-3deg);top:6px;}
    90%  {-webkit-transform: rotate(-5deg);top:4px;}
    95% {-webkit-transform: rotate(-7deg);top:2px;}
    100% {-webkit-transform: rotate(-9deg);top:0px;}
}

/* Standard syntax */
@keyframes balloon {
    0%   {-webkit-transform: rotate(-9deg);top:2px;}
    5%  {-webkit-transform: rotate(-7deg);top:4px;}
    10%  {-webkit-transform: rotate(-5deg);top:6px;}
    15%  {-webkit-transform: rotate(-3deg);top:8px;}
    20% {-webkit-transform: rotate(-1deg);top:10;px}
    25%   {-webkit-transform: rotate(0deg);top:12px;}
    30%  {-webkit-transform: rotate(1deg);top:14px;}
    35%  {-webkit-transform: rotate(3deg);top:16px;}
    40%  {-webkit-transform: rotate(5deg);top:18px;}
    45% {-webkit-transform: rotate(7deg);top:20px;}
    50%   {-webkit-transform: rotate(9deg);top:19px;}
    55%  {-webkit-transform: rotate(8deg);top:18px;}
    60%  {-webkit-transform: rotate(7deg);top:16px;}
    65%  {-webkit-transform: rotate(5deg);top:14px;}
    70% {-webkit-transform: rotate(3deg);top:12px;}
    75%   {-webkit-transform: rotate(1deg);top:10px;}
    80%  {-webkit-transform: rotate(-1deg);top:8px;}
    85%  {-webkit-transform: rotate(-3deg);top:6px;}
    90%  {-webkit-transform: rotate(-5deg);top:4px;}
    95% {-webkit-transform: rotate(-7deg);top:2px;}
    100% {-webkit-transform: rotate(-9deg);top:0px;}
}