.hide{
	display: none !important;
	transition: display .9s ease-in-out; 
}

.inline-block{
	display: inline-block;
}

.large-padding{
	padding: 100px 0px;
}

body{
	margin: 0px;
}

.nav-container{
	background-color: red;
	margin-right: auto;
	margin-left: auto;
}

.nav-container div{
	display: inline-block;
}

.navbar-header{
	font-family:cursive;
	font-size: 35px;
	padding: 20px 0px 0px 50px;
	color: #42dca3;
	float: left;
	letter-spacing: 3px;
}

.navbar-right{
	font-family:cursive;
	font-size: 25px;
	padding: 20px 50px 0px 0px;
	float: right;
}

.navbar-right a{
	color: #42dca3;
} 

.navbar-fixed-top{
	position: fixed;
	top: 0px;
	width: 100%;
}

.navbar-right a{
	float: left;
	padding: 10px;
}

.navbar-right a:hover{
	opacity: 0.6;
}

.navbar-right a{
	text-decoration: none;
}

.navbar-fixed-custom {
	background: black;
	transition: background .8s ease-in-out; 
	border-bottom: 1px solid #42dca3;
}

.navbar-fixed-custom .navbar-element{
	padding-top: 0px;
	transition: padding .5s ease-in-out; 
}

.display-desktop-view{
	width: 100%;
	height: 700px;
}

section:nth-child(even){
	background-color: #000;
}

section:nth-child(odd){
	background-color: #000;
}

.section-title{
	padding: 60px 0px 0px 0px;
	font-family: Georgia, serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.introduction-section{
	background: url("../Images/intro-bg.jpg") no-repeat bottom center scroll;
}

.introduction-container{
	width: 1170px;
}

.introduction-container{
	margin: auto;
	padding-top: 110px;
}

#introduction h1, #introduction .introduction-subtitle, #contact .contact-details{
	text-align: center;
	color: #fff;
	margin: 0px;
}

#introduction h1{
	font-size: 70px;
	text-transform: uppercase;
}

#introduction .introduction-subtitle, #contact .contact-details{
	font-size: 25px;
}

.btn-circle {
	display: inline-block;
    margin-top: 70px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.introduction-to-next{
	width: 80px;
    margin: auto;
}

.technical-element{
	padding: 30px;
	vertical-align: top;
}

.block-title{
	font-family: cursive;
	font-size: 30px;
	padding: 0px 30px;
	vertical-align: inherit;
	min-width: 150px;
	background: #F18D05;
	border-radius: 10px;
}

.rectangle{
	display: inline-block;
    line-height: 30px;
    font-size: 25px;
    padding: 10px;
    background-color: #00A1CB;
    border-radius: 10px;
    margin-left: 10px;
}

.rectangle:first-child{
	margin-left: 20px;
}

.hobbies-container{
	padding-left: 50px;
}

.hobby-element{
	box-shadow: 0 18px 25px -6px black;
	vertical-align: middle;
	-webkit-transition: all 0.6s;
}

.hobby-element:nth-child(odd), .hobby-element:nth-child(even):hover{
	-webkit-transform: rotate(-9deg); 
    -moz-transform: rotate(-9deg);
    -o-transform: rotate(-9deg);
    -ms-transform: rotate(-9deg);	
}

.hobby-element:nth-child(even), .hobby-element:nth-child(odd):hover{
	-webkit-transform: rotate(9deg); 
    -moz-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
}

#go-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #42dca3;
    text-decoration: none;
}

#go-to-top i{
	margin-left: 10px;
}

.custom-arraow-up{
	font-size: 48px!important;
    line-height: 48px!important;
    padding: 2px;
}

#contact{
	padding-top: 100px;
	height: 500px;
}
.contact-container{
	height: inherit;
	background: url("../Images/contact-me.jpg") no-repeat top center scroll;
}

.contact-details{
	padding-top: 50px;
}

.contact-details a{
	text-decoration: none;
    color: #42dca3;
}
